:root {
  font-variant-ligatures: none;
}

.platform-linux,
:host-context(.platform-linux) {
  --monospace-font-size: 1em !important;
  --monospace-font-family: "MonoLisa Regular", monospace !important;
  --monospace-font-feature-settings: "liga" 0, "calt" 0, "ss03", "ss16" !important;
  --source-code-font-size: 1em !important;
  --source-code-font-family: "MonoLisa Regular", monospace !important;
  --source-code-font-feature-settings: "liga" 0, "calt" 0, "ss03", "ss16" !important;
}

:host-context(.platform-linux) .monospace,
:host-context(.platform-linux) .source-code,
.platform-linux .monospace,
.platform-linux .source-code {
  font-size: 1em !important;
  font-family: "MonoLisa Regular", monospace !important;
  font-feature-settings:
    "liga" 0,
    "calt" 0,
    "ss03",
    "ss16" !important;
}

.monospace,
.source-code {
  font-size: 1em !important;
  font-family: "MonoLisa Regular", monospace !important;
  font-feature-settings:
    "liga" 0,
    "calt" 0,
    "ss03",
    "ss16" !important;
}

::shadow .monospace,
::shadow .source-code {
  font-size: 1em !important;
  font-family: "MonoLisa Regular", monospace !important;
  font-feature-settings:
    "liga" 0,
    "calt" 0,
    "ss03",
    "ss16" !important;
}
